// page {
//   height: 100%
// }

.profile {
  height: 100%;
  width: 100%;
  padding-top: 20px;


  .at-input {
    width: 90%;
    margin: 10px auto;
  }

  .at-input input {
    padding-left: 20px;
  }

  .at-button {
    width: 90%;
    margin: 20px auto 0;
  }
}